<!-- src/_includes/components/animation-demo.njk -->
<div class="animation-demo">
  <div class="demo-container">
    <div class="demo-element" id="demo-element-{{ element.title | slugify }}">
      <div class="demo-box"></div>
      <div class="demo-controls">
        <button class="btn btn-small" data-animation="bounce">Bounce</button>
        <button class="btn btn-small" data-animation="pulse">Pulse</button>
        <button class="btn btn-small" data-animation="shake">Shake</button>
        <button class="btn btn-small" data-animation="flip">Flip</button>
      </div>
    </div>
  </div>
</div>