<div class="expertise-timeline">
  <div class="timeline-container">
    {% for item in items %}
    <div class="timeline-item {{ item.type }}">
      <div class="timeline-marker">
        <div class="marker-dot"></div>
        <div class="marker-date">{{ item.date }}</div>
      </div>
      <div class="timeline-content">
        <h4 class="timeline-title">{{ item.title }}</h4>
        <p class="timeline-description">{{ item.description }}</p>
        {% if item.tags %}
        <div class="timeline-tags">
          {% for tag in item.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>